In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../Data/1_gen/Clean/_summaries/all_games_all_fields.csv')
ends = data.loc[data.status.isin(['win', 'draw']), :]
wins = pd.DataFrame(index=ends.index, columns=['human', 'computer', 'black_player', 'outcome'])
wins.loc[:, 'human'] = ends.loc[:, 'human']
wins.loc[:, 'computer'] = ends.loc[:, 'computer']

def who_is_black(row):
    # 1 if human is black, o if comp
    if row.subject == row.human:
        if row.color == 0:
            return 1
        else:
            return 0
    else:
        if row.color == 0:
            return 0
        else:
            return 1
        
def who_won(row):
    # 1 if black wins, 0 if draw, -1 if white wins
    if row.status == 'draw':
        return 0
    elif row.color == 0:
        return 1
    else:
        return -1
    
for i in ends.index.values:
    r = ends.loc[i, :]
    b = who_is_black(r)
    w = who_won(r)
    wins.loc[i, 'black_player'] = b
    wins.loc[i, 'outcome'] = w
    
wins.to_csv('../../Data/1_gen/Clean/_summaries/outcomes.csv', index=False, header=False)

In [4]:
wins.head(5)

    human  computer black_player outcome
10      0      1018            1       1
46      0      1014            0       0
55      0      1008            1       1
62      0      1004            0       1
73      0      1007            1       1

In [5]:
ends.head(5)

,subject,is_comp,color,status,bp,wp,response,rt,gi,mi,computer,human,time,a,b,aval,bval,val
10,0,0,0,win,000000000001110000000100000000001000,000011000000001000000001000000010000,10,1661,0,10,1018,0,1446834025285,NaN,NaN,NaN,NaN,NaN
46,0,0,1,draw,101010001100101010000101110110110101,010101110011010100111010001001001010,17,1829,1,35,1014,0,1446834266232,NaN,NaN,NaN,NaN,NaN
55,0,0,0,win,000000000011100000001000000000000000,000000000000011010000001000000000000,9,1476,2,8,1008,0,1446834307596,NaN,NaN,NaN,NaN,NaN
62,1004,1,0,win,000000000000000000000000000000111000,000000000000010000000010000001000000,33,0,3,6,1004,0,0,NaN,NaN,NaN,NaN,NaN
73,0,0,0,win,000001000000010000000110000000010000,000000001000000011000001000001000000,4,1904,4,10,1007,0,1446834370135,NaN,NaN,NaN,NaN,NaN