In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
files = os.listdir('../../../Data/0_hvh/Clean/')[3:]

In [3]:
len(files)

19

In [4]:
df = []
for f in files:
    df.append(pd.read_csv('../../../Data/0_hvh/Clean/' + f))
    
df = pd.concat(df)
df = df.loc[:, df.columns[1:]]
df.loc[:, 'color'] = df.loc[:, 'color'].map({'B':0, 'W':1, 0:0, 1:1})
df.loc[pd.isnull(df.move), 'move'] = df.loc[pd.isnull(df.move), 'response']
df = df.loc[:, ['subject', 'color', 'bp', 'wp', 'move', 'rt']]
df.loc[:, 'move'] = df.move.astype(int)
df = df.loc[df.move < 36, :].reset_index(drop=True)
df.head()

,subject,color,bp,wp,move,rt
0,AG,0,000000000001000000000000000000000000,000000000000000000000000000000000000,11,7.223
1,SQ,1,000000000001000000000000000000000000,000000000000000000000000100000000000,24,5.141
2,AG,0,000000000001000000000100000000000000,000000000000000000000000100000000000,21,3.154
3,SQ,1,000000000001000000000100000000000000,000000000000000000000000100000010000,31,5.715
4,AG,0,000000000001001000000100000000000000,000000000000000000000000100000010000,14,6.837

In [8]:
def fixit(D, i, p):
    r = list(D.loc[i, p])
    m = D.loc[i, 'move']
    r[m] = '0'
    return ''.join(r)

def remove_play(D, i):
    if D.loc[i, 'color'] == 0:
        p = 'bp'
    else:
        p = 'wp'
    D.loc[i, p] = fixit(D, i, p)
    return None

for i in df.index.values:
    remove_play(df, i)

In [10]:
df.loc[:, 'subject'] = df.loc[:, 'subject'].map(
    dict(zip(df.subject.unique(), 
             np.arange(df.subject.unique().size))))

In [11]:
df.head()

,subject,color,bp,wp,move,rt
0,0,0,000000000000000000000000000000000000,000000000000000000000000000000000000,11,7.223
1,1,1,000000000001000000000000000000000000,000000000000000000000000000000000000,24,5.141
2,0,0,000000000001000000000000000000000000,000000000000000000000000100000000000,21,3.154
3,1,1,000000000001000000000100000000000000,000000000000000000000000100000000000,31,5.715
4,0,0,000000000001000000000100000000000000,000000000000000000000000100000010000,14,6.837

In [12]:
df.to_csv('../../../Data/0_hvh/Clean/_summaries/all_games_model_input.csv', 
          header=False, index=False)

In [19]:
len(df) // 8

664

In [17]:
[len(df.loc[df.subject==i, :]) for i in df.subject.unique()]

[161,
 160,
 307,
 298,
 92,
 93,
 36,
 37,
 83,
 82,
 153,
 156,
 185,
 181,
 139,
 140,
 105,
 101,
 138,
 132,
 139,
 132,
 109,
 111,
 40,
 40,
 201,
 202,
 141,
 139,
 202,
 206,
 147,
 146,
 201,
 202,
 89,
 91]

In [20]:
len(df)

5317

In [21]:
df.loc[df.rt <= 0, :]

Empty DataFrame
Columns: [subject, color, bp, wp, move, rt]
Index: []

In [22]:
df.rt.mean()

7.7825151401166073