In [1]:
import subprocess
import numpy as np
import pandas as pd

In [14]:
starting_position = ('0'*36, '0'*36)
color_dict = ['BLACK', 'WHITE']

def namer(num):
    s = str(num)
    if len(s) < 2:
        s = '0' + s
    return 'comp0' + s

def wdl(gl):
    if gl == 36:
        return '1/2-1/2'
    elif gl%2 == 0:
        return '0-1'
    else:
        return '1-0'

def run_tournament(i):
    for a in range(30):
        for b in range(30):
            players = (a, b)
            status = 'playing'
            position = starting_position
            results_ = []
            while status == 'playing':
                for c in range(2):
                    command = ['tournamentbot.exe', 
                               str(players[c]), position[0], position[1], color_dict[c], 
                               str(30*(a) + b + 900*len(results)+i*36*900)]
                    result = [i.decode('utf-8') for i in subprocess.check_output(command).splitlines()]
                    position = (result[1], result[2])
                    status = result[3]
                    results_.append(position)
                    if status != 'playing':
                        break
            results.append(results_)

In [55]:
for i in range(10):
    results = []
    run_tournament(i)

    df = pd.DataFrame(index=np.arange(len(results)), columns=['White', 'Black', 'gamelen'])
    df.loc[:, 'gamelen'] = [len(i) for i in results]
    df.loc[:, 'White'] = df.index.values // 30
    df.loc[:, 'Black'] = df.index.values % 30

    df.loc[:, 'Result'] = df.gamelen.map(wdl)
    df.loc[:, 'White'] = df.White.map(namer)
    df.loc[:, 'Black'] = df.Black.map(namer)

    with open('./results' + str(i) + '.pgn', 'w') as f:
        for row in df.index.values:
            row = df.loc[row, :]
            for cell in ['White', 'Black', 'Result']:
                f.write('[' + cell + ' "' + row.loc[cell] + '"]\n')
            f.write(row.loc['Result'])
            f.write('\n\n')

# Real data

In [2]:
import scipy.signal as sig
rec = lambda x: np.array(list(x)).astype(int).reshape(2,4,9)
def win_detector(p):
        """ Takes in a 2x4x9 position; returns a 1 if it finds a 1
        Used to detect terminal nodes """
        rec = lambda x: np.array(list(x)).astype(int).reshape(2,4,9)
        position = rec(p)
        h_filter = np.array([[[1, 1, 1, 1]]])
        v_filter = np.array([np.array([[1, 1, 1, 1]]).T])
        df_filter = np.eye(4)[np.newaxis, :, :]
        db_filter = np.fliplr(np.eye(4))[np.newaxis, :, :]
        filters = [h_filter, v_filter, df_filter, db_filter]
        iswin = False
        for f in filters:
            res = sig.convolve(position, f, mode='valid')
            iswin = np.any(res==4)
            if iswin:
                break

        return int(iswin)

In [8]:
data = pd.read_csv('../../../Data/3_lrn/Clean/_summaries/all_games_model_input.csv', 
                   names=['player', 'color', 'bp', 'wp', 'zet', 'rt', 'condition', 'group', 'session'])
data.loc[:, 'before'] = data.loc[:, 'bp'] + data.loc[:, 'wp']
data.loc[:, 'gamelen'] = (data.loc[:, 'before']).map(lambda x: np.array(list(map(int, list(x)))).sum())

for idx in data.index.values:
    z = data.loc[idx, 'zet']
    if data.loc[idx, 'color'] == 1:
        z += 36
    _p = list(data.loc[idx, 'before'])
    _p[z] = '1'
    data.loc[idx, 'after'] = ''.join(_p)
    
data.loc[:, 'win'] = data.loc[:, 'after'].map(win_detector)    
data.loc[:, 'endmove'] = (data.gamelen.diff(-1) > 0).map(int)
data.loc[data.color==1, 'White'] = data.loc[data.color==1, 'player']
data.loc[data.color==0, 'Black'] = data.loc[data.color==0, 'player']
data.loc[:, 'Black'].fillna(method='ffill', inplace=True)
data.loc[:, 'White'].fillna(method='ffill', inplace=True)
ends = data.loc[data.endmove==1, :]

In [9]:
ends

,player,color,bp,wp,zet,rt,condition,group,session,before,gamelen,after,win,endmove,White,Black
12,0,0,001000100001010000000000100001000000,000111000000001000000000000000000110,20,1515,2,4,1,0010001000010100000000001000010000000001110000...,12,0010001000010100000010001000010000000001110000...,1,1,1015.0,0.0
29,1010,0,000110000000111000000101100000000000,001001000001000100000010000000101010,33,0,2,4,1,0001100000001110000001011000000000000010010000...,16,0001100000001110000001011000000001000010010000...,1,1,0.0,1010.0
50,0,0,000100000100100100001110100000001100,000011100001011010000001000000100010,19,1589,2,4,1,0001000001001001000011101000000011000000111000...,20,0001000001001001000111101000000011000000111000...,1,1,1015.0,0.0
69,1013,0,000010000000011000001011000010101000,010100100010100000000100100001010000,5,0,2,4,1,0000100000000110000010110000101010000101001000...,18,0000110000000110000010110000101010000101001000...,1,1,0.0,1013.0
88,0,0,000100000000111001000100100001001000,000001000100000010000011010010110000,15,1057,2,4,1,0001000000001110010001001000010010000000010001...,18,0001000000001111010001001000010010000000010001...,1,1,1016.0,0.0
99,1014,0,000000000000011100000001000000010000,000000010100100000000000000000101000,16,0,2,4,1,0000000000000111000000010000000100000000000101...,10,0000000000000111100000010000000100000000000101...,1,1,0.0,1014.0
115,1019,1,000100010000000001100100100000011000,000011100000001100000011000000000000,30,0,2,4,1,0001000100000000011001001000000110000000111000...,15,0001000100000000011001001000000110000000111000...,1,1,1019.0,0.0
132,1020,0,000011000000011000000111000000000010,000100100000100000001000100001010100,32,0,2,4,1,0000110000000110000001110000000000100001001000...,16,0000110000000110000001110000000010100001001000...,1,1,0.0,1020.0
142,1025,1,000100000000001000001000000000110000,000000000000000000000111000000001000,24,0,2,4,1,0001000000000010000010000000001100000000000000...,9,0001000000000010000010000000001100000000000000...,1,1,1025.0,0.0
178,0,1,100011010101000100011101011101101010,011100101010111010100010100010010101,17,1448,2,4,1,1000110101010001000111010111011010100111001010...,35,1000110101010001000111010111011010100111001010...,0,1,0.0,1026.0
186,1029,1,000100000000001001000000000000001000,000000000001110000000000000000000000,10,0,2,4,1,0001000000000010010000000000000010000000000000...,7,0001000000000010010000000000000010000000000000...,1,1,1029.0,0.0
222,0,1,001110010101110001110001100010101011,110001101010001110001110010101010100,26,1469,2,4,1,0011100101011100011100011000101010111100011010...,35,0011100101011100011100011000101010111100011010...,0,1,0.0,1028.0
235,0,0,000100000000000100001001000000011000,001001000010000000000110000000000100,7,1647,2,4,1,0001000000000001000010010000000110000010010000...,12,0001000100000001000010010000000110000010010000...,1,1,1026.0,0.0
251,0,1,000000010000100000000001110100010100,001000000000001110000010001000001000,13,4198,2,4,1,0000000100001000000000011101000101000010000000...,15,0000000100001000000000011101000101000010000000...,1,1,0.0,1023.0
264,0,0,000101000001001000000010000000001000,000010000000110100010100000000000000,23,994,2,4,1,0001010000010010000000100000000010000000100000...,12,0001010000010010000000110000000010000000100000...,1,1,1017.0,0.0
279,1010,0,000001000000011000000110000000011000,001010000000100100000001000000100100,29,0,2,4,1,0000010000000110000001100000000110000010100000...,14,0000010000000110000001100000010110000010100000...,1,1,0.0,1010.0
296,0,0,000111000000000010000001100001000100,010000010000010100000010000000011010,2,1081,2,4,1,0001110000000000100000011000010001000100000100...,16,0011110000000000100000011000010001000100000100...,1,1,1016.0,0.0
315,1012,0,001110000000110000001001000000110000,010001100001000000010110000001000100,28,0,2,4,1,0011100000001100000010010000001100000100011000...,18,0011100000001100000010010000101100000100011000...,1,1,0.0,1012.0
327,1017,1,001000000000001001000000001000001100,000010000000000000000001110000000001,22,0,2,4,1,0010000000000010010000000010000011000000100000...,11,0010000000000010010000000010000011000000100000...,1,1,1017.0,0.0
339,0,1,000000010000110000000101000000001000,000001000001001000000010000000100000,6,1689,2,4,1,0000000100001100000001010000000010000000010000...,11,0000000100001100000001010000000010000000011000...,1,1,0.0,1024.0
351,1015,1,000101000000000000000100000001110000,000000000000000000000011100010001000,25,0,2,4,1,0001010000000000000001000000011100000000000000...,11,0001010000000000000001000000011100000000000000...,1,1,1015.0,0.0
360,1021,0,000000000000000000000111000000000100,000010000000010000001000000000010000,24,0,2,4,1,0000000000000000000001110000000001000000100000...,8,0000000000000000000001111000000001000000100000...,1,1,0.0,1021.0
369,0,0,000010000001000000001000000001000000,010000000000111000000000000000000000,2,1171,2,4,1,0000100000010000000010000000010000000100000000...,8,0010100000010000000010000000010000000100000000...,1,1,1026.0,0.0
386,1023,0,000000000100011010001110000000100000,000011100000100001010001000001000000,15,0,2,4,1,0000000001000110100011100000001000000000111000...,16,0000000001000111100011100000001000000000111000...,1,1,0.0,1023.0
397,0,0,000101000000000000000000000000101100,000000000001011000000001100000000000,31,879,2,4,1,0001010000000000000000000000001011000000000000...,10,0001010000000000000000000000001111000000000000...,1,1,1027.0,0.0
414,1022,0,001110000000001101000000000000001010,010001000000010010000001000000110100,24,0,2,4,1,0011100000000011010000000000000010100100010000...,16,0011100000000011010000001000000010100100010000...,1,1,0.0,1022.0
427,0,0,000100000000000000010010000001110000,010000000000000000001100010010000100,32,4422,2,4,1,0001000000000000000100100000011100000100000000...,12,0001000000000000000100100000011110000100000000...,1,1,1029.0,0.0
440,1023,0,000000000000011100000001100000010000,000100010000000010000010010000100000,12,0,2,4,1,0000000000000111000000011000000100000001000100...,12,0000000000001111000000011000000100000001000100...,1,1,0.0,1023.0
456,1026,1,000110000000000000010001100000111000,000001110000000000000110000001000100,13,0,2,4,1,0001100000000000000100011000001110000000011100...,15,0001100000000000000100011000001110000000011100...,1,1,1026.0,0.0
470,0,1,000000000100001000011011000001000000,000101000000000000100100000000101000,12,2378,2,4,1,0000000001000010000110110000010000000001010000...,13,0000000001000010000110110000010000000001010000...,1,1,0.0,1027.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73268,26,1,001011010000001100000101001000100100,000100100010110000000010000001011010,11,8869,c,2,4,0010110100000011000001010010001001000001001000...,21,0010110100000011000001010010001001000001001000...,1,1,26.0,1011.0
73277,26,0,011100000000000000000010000000000000,100000000000010000001100000000000000,4,1449,c,2,4,0111000000000000000000100000000000001000000000...,8,0111100000000000000000100000000000001000000000...,1,1,1006.0,26.0
73302,1004,0,010001110000101000010001001101010000,001110001001010000001110100000101000,15,0,c,2,4,0100011100001010000100010011010100000011100010...,24,0100011100001011000100010011010100000011100010...,1,1,26.0,1004.0
73314,1005,1,000110000000100000000010000011000000,001000000001000000001100000000010000,1,0,c,2,4,0001100000001000000000100000110000000010000000...,11,0001100000001000000000100000110000000110000000...,1,1,1005.0,26.0
73327,27,0,000000000001010000000110000000110000,001010000000100000011000000001000000,1,1559,c,3,2,0000000000010100000001100000001100000010100000...,12,0100000000010100000001100000001100000010100000...,1,1,1019.0,27.0
73349,27,1,001000010010001100001000110000010110,000011100001110000000111000000001000,29,2443,c,3,2,0010000100100011000010001100000101100000111000...,21,0010000100100011000010001100000101100000111000...,1,1,27.0,1011.0
73362,27,0,000010000000011000000011100000000000,000101000000000000000100010000110000,34,4165,c,3,2,0000100000000110000000111000000000000001010000...,12,0000100000000110000000111000000000100001010000...,1,1,1009.0,27.0
73379,1001,0,000001000001100100000100100000010100,000100100000011010000001010000100000,1,0,c,3,2,0000010000011001000001001000000101000001001000...,16,0100010000011001000001001000000101000001001000...,1,1,27.0,1001.0
73391,1007,1,000000000000110000000111000000010000,000000001001000010001000100000000000,32,0,c,3,2,0000000000001100000001110000000100000000000010...,11,0000000000001100000001110000000100000000000010...,1,1,1007.0,27.0
73410,1011,0,000011010000101000001001000000100010,000100000010010010000010100010011000,6,0,c,3,2,0000110100001010000010010000001000100001000000...,18,0000111100001010000010010000001000100001000000...,1,1,27.0,1011.0
73417,27,0,000000000000111000000000000000000000,000100000000000000000100000100000000,11,1546,c,3,2,0000000000001110000000000000000000000001000000...,6,0000000000011110000000000000000000000001000000...,1,1,1016.0,27.0
73432,1011,0,000001000000001100000011010000100000,000000100001100010000100100000001000,35,0,c,3,2,0000010000000011000000110100001000000000001000...,14,0000010000000011000000110100001000010000001000...,1,1,27.0,1011.0
73447,27,0,001000000000100000001100000001110000,000110000001011000000010000010000000,32,1517,c,3,2,0010000000001000000011000000011100000001100000...,14,0010000000001000000011000000011110000001100000...,1,1,1018.0,27.0
73456,1010,0,000000000000001000000110000000100000,000100000000110000000001000000000000,6,0,c,3,2,0000000000000010000001100000001000000001000000...,8,0000001000000010000001100000001000000001000000...,1,1,27.0,1010.0
73492,1015,1,010001011101110001001001010101110110,101110100010001110110110101010001000,35,0,c,3,2,0100010111011100010010010101011101101011101000...,35,0100010111011100010010010101011101101011101000...,0,1,1015.0,27.0
73510,27,1,000110000001001000010001000001100100,001001000000110000001100000100001000,22,1394,c,3,2,0001100000010010000100010000011001000010010000...,17,0001100000010010000100010000011001000010010000...,1,1,27.0,1017.0
73517,27,0,000000000000111000000000000000000000,000000000001000000000000000000110000,15,1126,c,3,2,0000000000001110000000000000000000000000000000...,6,0000000000001111000000000000000000000000000000...,1,1,1012.0,27.0
73530,1008,0,000100000100010000000011100000000000,000000000011100000001000010000000100,21,0,c,3,2,0001000001000100000000111000000000000000000000...,12,0001000001000100000001111000000000000000000000...,1,1,27.0,1008.0
73537,27,0,000000000000111000000000000000000000,001000000000000000001100000000000000,11,1061,c,3,2,0000000000001110000000000000000000000010000000...,6,0000000000011110000000000000000000000010000000...,1,1,1010.0,27.0
73561,27,1,000101110000011100000010010010011000,000010001011100010000101100000100001,9,3434,c,3,2,0001011100000111000000100100100110000000100010...,23,0001011100000111000000100100100110000000100011...,1,1,27.0,1009.0
73577,1004,1,000010000000101000000110000100001100,000101000000010000000001000011100000,31,0,c,3,2,0000100000001010000001100001000011000001010000...,15,0000100000001010000001100001000011000001010000...,1,1,1004.0,27.0
73588,1007,0,000001000000011100000000000000000001,000000000010100000011000010000000000,16,0,c,3,2,0000010000000111000000000000000000010000000000...,10,0000010000000111100000000000000000010000000000...,1,1,27.0,1007.0
73599,27,0,000000000000110000000010100000001000,000110000000001000000001000000000001,2,1448,c,3,2,0000000000001100000000101000000010000001100000...,10,0010000000001100000000101000000010000001100000...,1,1,1014.0,27.0
73612,1008,0,000000000000000100000001100000011100,000000010000010000000100010000100010,6,0,c,3,2,0000000000000001000000011000000111000000000100...,12,0000001000000001000000011000000111000000000100...,1,1,27.0,1008.0
73648,1013,1,100101010111011011001011100010010010,011010101000100100110100011001101101,27,0,c,3,2,1001010101110110110010111000100100100110101010...,35,1001010101110110110010111000100100100110101010...,0,1,1013.0,27.0
73677,1010,0,000101001000011000001010001001110111,000010110001100110010101110010001000,17,0,c,3,2,0001010010000110000010100010011101110000101100...,28,0001010010000110010010100010011101110000101100...,1,1,27.0,1010.0
73688,27,0,000001000000110000000110000000000000,000110000001001000000000000000001000,29,1245,c,3,2,0000010000001100000001100000000000000001100000...,10,0000010000001100000001100000010000000001100000...,1,1,1015.0,27.0
73699,1012,0,000010000000100000101100000000000000,000000000000011000000010000010100000,19,0,c,3,2,0000100000001000001011000000000000000000000000...,10,0000100000001000001111000000000000000000000000...,1,1,27.0,1012.0
73710,27,0,000000000000011000000110000001000000,000100100000100000010001000000000000,5,2267,c,3,2,0000000000000110000001100000010000000001001000...,10,0000010000000110000001100000010000000001001000...,1,1,1017.0,27.0
73717,1010,0,000000000000000000000000000000111000,000000000000010000000100000001000000,33,0,c,3,2,0000000000000000000000000000001110000000000000...,6,0000000000000000000000000000001111000000000000...,1,1,27.0,1010.0

In [20]:
def namer(s):
    if s > 999:
        s -= 1000
        s = 'comp' + str(s)
    else:
        s = 'subj' + str(s)
    return s

def wdl(gl):
    if gl == 36:
        return '1/2-1/2'
    elif gl%2 == 0:
        return '0-1'
    else:
        return '1-0'

In [21]:
with open('./results_lrn_real.pgn', 'w') as f:
    for row in ends.index.values:
        f.write('[Black "' + namer(ends.loc[row, 'Black']) + '"]\n')
        f.write('[White "' + namer(ends.loc[row, 'White']) + '"]\n')
        f.write(wdl(ends.loc[row, 'gamelen']))
        f.write('\n\n')