In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
with open('../../../Data/3_lrn/Raw/set_aside/learning2_TQ_backup.csv') as F:
    L = F.readlines()
    L = [','.join(l.split(";")[:10]) +',,' + '\n' for i, l in enumerate(L)]
    print(L[2:4])
    with open('../../../Data/3_lrn/Raw/set_aside/learning2_TQ.csv', mode='w') as N:
        N.writelines(L)

['"3","1436832272291","0","0","1","playing","000000000000100000000000000000000000","000000000000000000000000000000000000","12","6242",,\n', '"4","16","1","0","2","playing","000000000000100000000000000000000000","000000000000010000000000000000000000","13","0",,\n']

In [39]:
pd.read_csv('../../../Data/3_lrn/Raw/learninga_SL.csv',
            names=['index', 'subject', 'color', 'gi', 'mi', \
                    'status', 'bp', 'wp', 'response', 'rt', \
                    'time', 'mouse_t', 'mouse_x'])

Empty DataFrame
Columns: [index, subject, color, gi, mi, status, bp, wp, response, rt, time, mouse_t, mouse_x]
Index: []

In [26]:
fnames = os.listdir('../../../Data/3_lrn/Raw')
goods =  [f for f in fnames if f[-3:] == 'csv']
conditions = [f[8] for f in goods]
subjects = [f[10:-4] for f in goods]
group_ref = {0: [0, 1, 2, 3, 4],
          1: [0, 1, 4, 3, 2],
          2: [2, 1, 0, 3, 4],
          3: [4, 1, 0, 3, 2],
          4: [2, 1, 4, 3, 0],
          5: [4, 1, 2, 3, 0]}
groups = {'CE':0, 'GL':1, 'TQ':2, 'SW':3, 'LM':4, 'XW':5, 
          'XM':0, 'XZ':1, 'KL':2, 'MS':3, 'AB':4, 'VC':5,
          'GB':0, 'HS':1, 'YV':2, 'YZ':3, 'EN':4, 'SL':5,
          'IK':0, 'LW':1, 'EW':2, 'AB2':3, 'JC':4, 'OR':5,
          'JP':1, 'LH':2, 'SG':4, 'IS':5}

In [34]:
chart = pd.DataFrame(index=groups.keys(), columns=['a', '2', 'b', '4', 'c'])

In [32]:
groups.keys()

dict_keys(['SW', 'SL', 'XW', 'VC', 'CE', 'GL', 'YZ', 'EW', 'IK', 'KL', 'HS', 'OR', 'LM', 'GB', 'MS', 'AB', 'JP', 'SG', 'EN', 'AB2', 'TQ', 'JC', 'YV', 'XM', 'IS', 'XZ', 'LW', 'LH'])

In [40]:
reffer = lambda x: group_ref[groups[x]]
for s in chart.index:
    chart.loc[s, :] = reffer(s)
    
chart

     a  2  b  4  c
SW   4  1  0  3  2
SL   4  1  2  3  0
XW   4  1  2  3  0
VC   4  1  2  3  0
CE   0  1  2  3  4
GL   0  1  4  3  2
YZ   4  1  0  3  2
EW   2  1  0  3  4
IK   0  1  2  3  4
KL   2  1  0  3  4
HS   0  1  4  3  2
OR   4  1  2  3  0
LM   2  1  4  3  0
GB   0  1  2  3  4
MS   4  1  0  3  2
AB   2  1  4  3  0
JP   0  1  4  3  2
SG   2  1  4  3  0
EN   2  1  4  3  0
AB2  4  1  0  3  2
TQ   2  1  0  3  4
JC   2  1  4  3  0
YV   2  1  0  3  4
XM   0  1  2  3  4
IS   4  1  2  3  0
XZ   0  1  4  3  2
LW   0  1  4  3  2
LH   2  1  0  3  4